.mouse-follower {
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #6b46c1, #3b82f6);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

@media (max-width: 768px) {
  .mouse-follower {
    display: none;
  }
}
