.mouse-follower {
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, rgba(107, 70, 193, 0.3), rgba(59, 130, 246, 0.3));
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

@media (max-width: 768px) {
  .mouse-follower {
    display: none;
  }
}
